PyQt6
Pillow
numpy
matplotlib
pyqtgraph
opencv-python
PyOpenGL
pyinstaller
pillow-heif
requests
torch
torchvision
timm
imageio
omegaconf
addict
evo
depth-anything-3 @ git+https://github.com/LiheYoung/Depth-Anything-V3.git
